{% extends 'catalog/layout.html' %}

{% block content %}
    <style>
        body {
            background: url('../images/contacts_background.png') 50% 0 no-repeat fixed;
        }
    </style>

    <div class="contacts_window">
        <h1 class="title">Контактные данные</h1>
        <h2>Сервис.Ру<br>
            Телефон:
            
            +7 (343) 255-55-55
            <br>
            E-mail:
            
            service.ru@yandex.ru
            <br>
            Адрес:
            620014 г. Екатеринбург
            
            проспект Ленина, д. 24, оф. 530
            
            ТЦ "Красный Леопард"
            
            (Вход со стороны пр. Ленина)</h2>
        <iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;um=constructor%3AKUrlshcu5WdgD5wseK2kGy3JvXv3ur2o"
         frameborder="0" allowfullscreen="true" width="100%" height="480px" position="relative" left="50px" style="display: block;"></iframe>
        <div class></div>
    </div>
    
{% endblock %}