{% extends 'catalog/layout.html' %}


{% block content %}
    <div class="main_window">
        <div class="welcome_header">
            <h2>Добро пожаловать в веб-каталог компании “Сервис.Ру”</h2>
        </div>
        <div class="split_block">
            <div class="instruction_block">
                <h2>Новым пользователям</h2>
                <p>Часто возникает необходимость структурировать информацию, создать какой то банк данных, который будет доступен по сети интернет. Однако при этом нет необходимости создавать полноценный сайт или изменять текущий. Такая необходимость стала особенно актуальна в период вынужденного дистанционного обучения в период эпидемии COVID-19 у образовательных организаций.

                    У обычных организаций такая потребность возникает при необходимости структурировать инструкции, обучающие материалы, какие-то внутренние инструкции.
                    
                    Компания Гугл создала удобный конструктор для создания таких «быстрых сайтов» с очень низким порогом вхождения и легкостью работы. На примере создания банка видеоуроков для образовательной организации, я покажу как можно очень оперативно сделать минисайт.
                    
                    При написании инструкции необходимо исходить из того, что пользователь не знает, что такое Гугл, и что именно нужно выполнять.</p>
            </div>
            <div class="auth_block">
                <h2>Вход</h2>
                <form action="#" method="get">

                    <fieldset>
                
                      <p><input type="text" placeholder="Логин"></p>
                
                      <p><input type="password" placeholder="Пароль"></p>
                
                      <p><input type="submit" value="Войти"></p>
                
                    </fieldset>
                
                  </form>
            </div>
        </div>
    </div>
    
{% endblock %}

