{% extends 'catalog/layout.html' %}

{% block content %}
    <h1 class="title"> Наши специалисты </h1>
    <div class="workers_window">

        <div class="worker">
            <img src="static/catalog/images/chel_1.jpg" alt="motherboard">
            <h3> Георгий Мартынов</h3>
            <p> Один из самых известных русских поэтов, и признание к нему пришло еще при жизни. Его творчество, в котором сочетались острые социальные темы с философскими мотивами и личными переживаниями, оказало огромное влияние на поэтов и писателей XIX–XX веков. «Культура.РФ»</p>
        </div>
        
        <div class="worker">
            <img src="static/catalog/images/chel_2.jpg" alt="motherboard">
            <h3> Георгий Мартынов</h3>
            <p> Один из самых известных русских поэтов, и признание к нему пришло еще при жизни. Его творчество, в котором сочетались острые социальные темы с философскими мотивами и личными переживаниями, оказало огромное влияние на поэтов и писателей XIX–XX веков. «Культура.РФ»</p>
        </div>
        
        <div class="worker">
            <img src="static/catalog/images/chel_3.jpg" alt="motherboard">
            <h3> Георгий Мартынов</h3>
            <p> Один из самых известных русских поэтов, и признание к нему пришло еще при жизни. Его творчество, в котором сочетались острые социальные темы с философскими мотивами и личными переживаниями, оказало огромное влияние на поэтов и писателей XIX–XX веков. «Культура.РФ»</p>
        </div>
        
        <div class="worker">
            <img src="static/catalog/images/chel_5.jpg" alt="cpu">
            <h3> Георгий Мартынов</h3>
            <p> Один из самых известных русских поэтов, и признание к нему пришло еще при жизни. Его творчество, в котором сочетались острые социальные темы с философскими мотивами и личными переживаниями, оказало огромное влияние на поэтов и писателей XIX–XX веков. «Культура.РФ»</p>
        </div>
        
        <div class="worker">
            <img src="static/catalog/images/chel_6.jpg" alt="memory">
            <h3> Георгий Мартынов</h3>
            <p> Один из самых известных русских поэтов, и признание к нему пришло еще при жизни. Его творчество, в котором сочетались острые социальные темы с философскими мотивами и личными переживаниями, оказало огромное влияние на поэтов и писателей XIX–XX веков. «Культура.РФ»</p>
        </div>
        
        <div class="worker">
            <img src="static/catalog/images/chel_7.jpg" alt="motherboard">
            <h3> Георгий Мартынов</h3>
            <p> Один из самых известных русских поэтов, и признание к нему пришло еще при жизни. Его творчество, в котором сочетались острые социальные темы с философскими мотивами и личными переживаниями, оказало огромное влияние на поэтов и писателей XIX–XX веков. «Культура.РФ»</p>
        </div>
        
  
    </div>
{% endblock %}